<!-- Timeline -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].timeline.section | default: "timeline" }}">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].timeline.title }}</h2>
      <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].timeline.text }}</h3>
    </div>
    <ul class="timeline">
      {% for event in site.data.sitetext[site.locale].timeline.events %}
      <li {% if forloop.index0 % 2 == 1 %}class="timeline-inverted"{% endif %}>
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" src="{{ event.image }}" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ event.year }}</h4>
            <h4 class="subheading">{{ event.title }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">{{ event.text }}</p>
          </div>
        </div>
      </li>
      {% endfor %}
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>More<br>updates<br>soon</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.timeline.section | default: "timeline" }}">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.sitetext.timeline.title }}</h2>
      <h3 class="section-subheading text-muted">{{ site.data.sitetext.timeline.text }}</h3>
    </div>
    <ul class="timeline">
      {% for event in site.data.sitetext.timeline.events %}
      <li {% if forloop.index0 % 2 == 1 %}class="timeline-inverted"{% endif %}>
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" src="{{ event.image }}" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ event.year }}</h4>
            <h4 class="subheading">{{ event.title }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">{{ event.text }}</p>
          </div>
        </div>
      </li>
      {% endfor %}
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>To be<br>continued...</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
{% endif %}
